* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
/* /common */

/* header  */
/* inizio sezione navbar-brand */
/* fine sezione navbar-brand */

/* inizio sezione navbar-menu */
/* /fine sezione navbar-menu */
/* /header  */

/* main  */
/* inizio sezione junbotron */
/* fine sezione junbotron */

/* inizio sezione play */
/* fine sezione play */

/* inizio sezione PS5 */
/* fine sezione PS5 */

/* inizio sezione banner */
/* fine sezione banner */

/* inizio sezione news */
/* fine sezione news */

/* inizio sezione PS4 */
/* fine sezione PS4 */

/* inizio sezione PSplus */
/* fine sezione PSplus */

/* inizio sezione sconti */
/* fine sezione sconti */

/* inizio sezione PSnow */
/* fine sezione PSnow */

/* inizio sezione social */
/* fine sezione social */
/* /main */

/* footer  */
/* inizio sezione sx */
/* fine sezione sx */

/* inizio sezione dx */
/* fine sezione dx */
/* /footer  */

/* debug */
/* /debug  */