* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* /common */

/* header  */
/* inizio sezione navbar-brand */
.ms_brand {
    width: 100%;
    height: 50px;
}
/* fine sezione navbar-brand */

/* inizio sezione navbar-menu */
.ms_menu {
    width: 100%;
    height: 80px;
}
/* /fine sezione navbar-menu */
/* /header  */

/* main  */
/* inizio sezione junbotron */
/* fine sezione junbotron */

/* inizio sezione play */
.ms_card_play {
    height: 100px;
    border-radius: 15px;
}
/* fine sezione play */

/* inizio sezione PS5 */
.ms_ps5 {
    height: 300px;
}
.ms_ps5_img {
    border: 1px solid black;
}

/* fine sezione PS5 */

/* inizio sezione banner */
/* fine sezione banner */

/* inizio sezione news */
/* fine sezione news */

/* inizio sezione PS4 */
/* fine sezione PS4 */

/* inizio sezione PSplus */
/* fine sezione PSplus */

/* inizio sezione sconti */
/* fine sezione sconti */

/* inizio sezione PSnow */
/* fine sezione PSnow */

/* inizio sezione social */
/* fine sezione social */
/* /main */

/* footer  */
/* inizio sezione foot-top */
/* fine sezione foot-top */

/* inizio sezione foot-bottom */
/* fine sezione foot-bottom */
/* /footer  */

/* debug */
.debug {
    color: red;
    text-align: center;
}
.debug .ms_brand {
    background-color: black;
}
.debug .ms_menu {
    background-color: cornsilk;
}
.debug .ms_junbotron,
/* .debug .ms_ps5, */
.debug .ms_news,
.debug .ms_psplus,
.debug .ms_psnow {
    background-color: lightgreen;
    width: 100%;
    height: 200px;
}
/* .debug .ms_play, */
.debug .ms_banner,
.debug .ms_ps4,
.debug .ms_sconti,
.debug .ms_social{
    background-color: lightskyblue;
    width: 100%;
    height: 200px;
}
.debug .ms_foot_top {
    background-color: midnightblue;
    width: 100%;
    height: 200px;

}
.debug .ms_foot_bottom {
    background-color: paleturquoise;
    width: 100%;
    height: 200px;
}
.debug .ms_card_play {
    background-color: purple;
}

/* /debug  */